.playerCard{
    padding: 20px;
    background: #313D5A;
    color: #EAEAEA;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #73628A;
    text-shadow: 3px 3px 5px #73628A;
}